<h1 id="title" class="title">Forget Password</h1>
<p class="sub-title">Enter your Email Address and we’ll send a link to reset your Password</p>
<form (ngSubmit)="submitEmail()" [formGroup]="forgetForm">
  <div class="form-control-group">
    <input nbInput fullWidth formControlName="email" placeholder="Email Address"
      fieldSize="large" autofocus
      [status]="forgetForm.controls['email'].touched ? forgetForm.controls['email'].invalid  ? 'danger' : 'success' :'basic'">
    <ng-container *ngIf="forgetForm.controls['email'].touched && forgetForm.controls['email'].errors">
      <p class="caption status-danger" *ngIf="forgetForm.controls['email'].errors?.['required']">
        Email is required.
      </p>
      <p class="caption status-danger" *ngIf="forgetForm.controls['email'].errors?.['pattern']">
        Invaalid Email.
      </p>
      <p class="caption status-danger"
        *ngIf="!forgetForm.controls['email'].errors?.['pattern'] && (forgetForm.controls['email'].errors?.['minlength']|| forgetForm.controls['email'].errors?.['maxlength'])">
             </p>
    </ng-container>
  </div>
  <button nbButton fullWidth status="primary" size="large" [disabled]="!forgetForm.valid">
    Request Email
  </button>
  <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
</form>
