<div class="header-container">
  <div class="logo-container pointer">
    <a (click)="toggleSidebar()" class="sidebar-toggle">
      <nb-icon icon="list-outline"></nb-icon>
    </a>
    <a class="logo" (click)="navigateHome()">SCHOOLAPP</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="bell"></nb-action>
    <nb-action  class="user-action">
      <nb-user  [nbContextMenu]="menu[0].children!" nbContextMenuTag="user-context-menu" nbContextMenuTrigger="click"
        >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
