<h1 id="title" class="title">Change Password</h1>
<p class="sub-title">Please set a new Password</p>
<form *ngIf="!loading" (ngSubmit)="resetPassword()" [formGroup]="resetForm" aria-labelledby="title">
  <div class="form-control-group">
    <input nbInput formControlName="password" type="password" class="first" placeholder="New Password" autofocus
      fullWidth fieldSize="large"
      [status]="resetForm.controls['password'].touched  ? resetForm.controls['password'].invalid  ? 'danger' : 'success' : 'basic'">
    <ng-container *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors">
      <p class="caption status-danger" *ngIf="resetForm.controls['password'].errors?.['required']">
        Password is required.
      </p>
      <p class="caption status-danger" *ngIf="resetForm.controls['password'].errors?.['whitespace']">
        Invalid Password.
      </p>
      <p class="caption status-danger"
        *ngIf="!resetForm.controls['password'].errors?.['whitespace'] && (resetForm.controls['password'].errors?.['minlength'] || resetForm.controls['password'].errors?.['maxlength'])">
        {{"Password should contain from {{ min}} to {{ max }} characters"}}
      </p>
    </ng-container>
  </div>
  <div class="form-group">
    <input nbInput formControlName="repeatPassword" type="password" class="last" placeholder="Confirm Password"
      fullWidth fieldSize="large"
      [status]="resetForm.controls['repeatPassword'].touched  ? resetForm.controls['repeatPassword'].invalid  ? 'danger' : 'success' : 'basic'">
    <p class="caption status-danger"
      *ngIf="resetForm.controls['repeatPassword'].touched && resetForm.controls['repeatPassword'].errors?.['match']">
      Password does not match the confirm password.
    </p>
  </div>
  <button nbButton status="primary" fullWidth size="large" [disabled]="resetForm.invalid">
    Change Password
  </button>
</form>
<section class="sign-in" aria-label="Sign in">
  <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
</section>
